<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form name="calc">
    <table>
      <tr>
        <td>
          <input #resInput [(ngModel)]="appService.value" type="text" name="input" size="16" id="answer" disabled>
          <br>
        </td>
      </tr>
      <tr>
        <td id="content-btn">
          <input type="button" name="one" value="  1  " (click)="agregar('1')">
          <input type="button" name="two" value="  2  " (click)="agregar('2')">
          <input type="button" name="three" value="  3  " (click)="agregar('3')">
          <input type="button" class="operator" name="plus" value="  +  " (click)="agregar(' + ')">
          <br>
          <input type="button" name="four" value="  4  " (click)="agregar('4')">
          <input type="button" name="five" value="  5  " (click)="agregar('5')">
          <input type="button" name="six" value="  6  " (click)="agregar('6')">
          <input type="button" class="operator" name="minus" value="  -  " (click)="agregar(' - ')">
          <br>
          <input type="button" name="seven" value="  7  " (click)="agregar('7')">
          <input type="button" name="eight" value="  8  " (click)="agregar('8')">
          <input type="button" name="nine" value="  9  " (click)="agregar('9')">
          <input type="button" class="operator" name="times" value="  x  " (click)="agregar(' * ')">
          <br>
          <input type="button" id="clear" (click)="borrar()" name="clear" value="  c  ">
          <input type="button" name="zero" value="  0  " (click)="agregar('0')">
          <input type="button" id="doit" (click)="resultado()" name="doit" value="  =  ">
          <input type="button" class="operator" name="div" value="  /  " (click)="agregar(' / ')">
          <br>
        </td>
      </tr>
    </table>
  </form>

</ion-content>
